body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#title {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  font-size: 1.1em;
  margin-bottom: 8px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
}
input[type="tel"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
}

input[type="date"],
input[type="time"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
  display: block;
}

.description-box {
  width: 100%;
  background-color: #ffe4ec;
  padding: 30px 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

.description-box p {
  margin: 0;
  color: #a9446e;
  font-size: 1.1em;
}

button[type="submit"] {
  padding: 10px 30px;
  font-size: 1em;
  color: #fff;
  background-color: #a9446e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #d36d9e;
}

.validation-msg {
  display: block;
  color: #d9534f;
  margin-top: 10px;
  min-height: 18px;
}